.about-wripper{
	position: relative;
	overflow: hidden; 
	
}

.about-wripper::after{
	right: 0;
	top: 0;
	width: 612px;
	height: 518px;
	position: absolute;
	display: block;
	content: "";
	background-image: url("../img/illustrations/shape-3.svg");
	background-repeat: no-repeat;
	background-position: right-top;	
	z-index: -11;
	right: -170px;
	margin-top: 179px;
	margin-left: 700px;
}
.about-cards{
	width: 488px;
	margin-left: 100px;
	display: flex;
	justify-content: space-between;
}

.space-between{
	margin-bottom: 66px;
}
.about-cards-1colum{


}

.about-cards-2colum{
	padding-top: 150px;
	
}

.about-content{
	margin-top: 150px;
	width: 555px;
	margin-right: 70px;
	color: #0d3e60;
	font-size: 22px;
	font-weight: 300;
	line-height: 36px;
}

a.about__toggle, .about__toggle{

	width: 165px;
	height: 46px;
	border-radius: 20px;
	background-color: #fff9df;
	margin-bottom: 107px;
	margin-right: 20px;
	
	color: #2e435e;
	font-size: 14px;
	font-weight: 400;
	line-height: 46px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-decoration: none;
	
}

.about-toggle-wrapper{
	display: flex;
	
}
.about__toggle:hover{
	background-color: #ec6c45;
	color: #fff;
}


.title-special{
	color: #eb5238;
	font-size: 30px;
	font-weight: 700;
	line-height: 23.99px;
	margin-bottom: 72px;
}

.about-content p{
	margin-bottom: 36px;
}

